
BlueGenerationsIntegration/bin/

BlueGenerationsIntegration/obj/

SanMarIntegration/bin/

SanMarIntegration/obj/

ISBase/ISBase/bin/

ISBase/ISBase/obj/

CLRFramework/CLRFramework/bin/

CLRFramework/CLRFramework/obj/

CLRFramework_20220721/CLRFramework/bin/

CLRFramework_20220721/CLRFramework/obj/

CLRFramework-VS2012/CLRFramework/bin/

CLRFramework-VS2012/CLRFramework/obj/

ImageSolutions/bin/

ImageSolutions/obj/

ScheduledTask/bin/

ScheduledTask/obj/

NetSuiteLibrary/bin/

NetSuiteLibrary/obj/

ScheduledTaskProcess/obj/

ScheduledTaskProcess/bin/

ActiveWearIntegration/bin/

ActiveWearIntegration/obj/


ImageSolutionsWebsite/bin/

ImageSolutionsWebsite/obj/


EnterpriseIntegration/EnterpriseIntegration/bin/

EnterpriseIntegration/EnterpriseIntegration/obj/

AdminPortal/AdminPortal/bin/

AdminPortal/AdminPortal/obj/

ImageSolutionsWebsite/Export/

ImageSolutionsWebsite/Import/UserCreditCard/

.vs/

bin/
obj/

*.user
*.suo
*.bak

ImageSolutionsWebsite/Import/AddressBook/

ImageSolutionsWebsite/DragAndDrop/

ImageSolutionsWebsite/Import/Budget/

ImageSolutionsWebsite/Import/Promotion/

ImageSolutionsWebsite/Import/ItemDetail/

ImageSolutionsWebsite/Import/UserWebsite/

AthenaConsole/OrderFiles/

ImageSolutionsWebsite/katana.trace.log
