<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<!--Production-->
		<add name="DefaultConnectionString" connectionString="Data Source=image-solutions.cwfbgfgwdwwa.us-west-1.rds.amazonaws.com,1433;Initial Catalog=ImageSolutions;Persist Security Info=True;User ID=admin;Password=Password$1" providerName="System.Data.SqlClient" />

		<!--Staging-->
		<!--<add name="DefaultConnectionString" connectionString="Data Source=image-solutions.cwfbgfgwdwwa.us-west-1.rds.amazonaws.com,1433;Initial Catalog=ImageSolutionsStaging;Persist Security Info=True;User ID=admin;Password=Password$1" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<appSettings>
		<!--Staging-->

		<!--<add key="NetSuiteAccountNumber" value="ACCT88641_SB1"/>
		<add key="AppConsumerKey" value="3fc999b824b4bd8bab2b7120c73b0275658e3f4e881f48571d2dbe837b561956"/>
		<add key="AppConsumerSecret" value="f5b04c8b8042caa9cf3ca4c3de63857c97dadcf9615dd85fc8437499aeef9d0d"/>
		<add key="TokenID" value="739c52f2eb79625671326fd16bf14e2f106330a18d8f0071a6f0bd19817f9479"/>
		<add key="TokenSecret" value="9826d2e2018ff7521f96ebea6bc1a4d62f5550c63b7fcab21e95674e755f7bb8"/>-->

		<!--Production-->
		<add key="NetSuiteAccountNumber" value="ACCT88641" />
		<add key="AppConsumerKey" value="01099c3ecb51fa1578e5cf1e71d98ff117421f35ba5fd6727910227367962158" />
		<add key="AppConsumerSecret" value="57a73a0586c4e8af83d4d6cfe289907ab85c83169760a87197270aab1fbe1833" />
		<add key="TokenID" value="6dc6482868406e7e933bc79d999300403349d0c84b269e349dff3ec9fe6ecef1" />
		<add key="TokenSecret" value="b5867514ed7219a377873cb608a30ddd06d487e68bf1e5ee26c105dc619c2d89" />

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
