<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BlueGenerationsIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <BlueGenerationsIntegration.Properties.Settings>
            <setting name="BlueGenerationsIntegration_com_bluegeneration_promostandards_promoinventoryservice_PromoInventoryService" serializeAs="String">
                <value>http://promostandards.bluegeneration.com/Services/PromoInventoryService.svc</value>
            </setting>
        </BlueGenerationsIntegration.Properties.Settings>
    </applicationSettings>
</configuration>
