<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SanMarIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <SanMarIntegration.Properties.Settings>
            <setting name="SanMarIntegration_com_sanmar_ws_sanmarpricingserviceport_SanMarPricingServiceService" serializeAs="String">
                <value>https://ws.sanmar.com:8080/SanMarWebService/SanMarPricingServicePort</value>
            </setting>
            <setting name="SanMarIntegration_com_sanmar_ws_pricingandconfigurationservicebinding_PricingAndConfigurationService" serializeAs="String">
                <value>https://ws.sanmar.com:8080/promostandards/PricingAndConfigurationServiceBinding</value>
            </setting>
            <setting name="SanMarIntegration_com_sanmar_ws_sanmarproductinfoserviceport_SanMarProductInfoServiceService" serializeAs="String">
                <value>https://ws.sanmar.com:8080/SanMarWebService/SanMarProductInfoServicePort</value>
            </setting>
            <setting name="SanMarIntegration_com_sanmar_ws_ordershipmentnotificationservicebinding_OrderShipmentNotificationService" serializeAs="String">
                <value>https://ws.sanmar.com:8080/promostandards/OrderShipmentNotificationServiceBinding</value>
            </setting>
            <setting name="SanMarIntegration_com_sanmar_ws_inventoryservicebindingvfinal_InventoryServiceV2final" serializeAs="String">
                <value>https://ws.sanmar.com:8080/promostandards/InventoryServiceBindingV2final</value>
            </setting>
            <setting name="SanMarIntegration_com_sanmar_ws_poservicebinding_POService" serializeAs="String">
                <value>https://ws.sanmar.com:8080/promostandards/POServiceBinding</value>
            </setting>
            <setting name="SanMarIntegration_com_sanmar_ws_orderstatusservice_OrderStatusService" serializeAs="String">
                <value>https://ws.sanmar.com:8080/promostandards/OrderStatusServiceBinding</value>
            </setting>
            <setting name="SanMarIntegration_com_sanmar_ws_invoiceservicebind_InvoiceService" serializeAs="String">
                <value>https://ws.sanmar.com:8080/promostandards/InvoiceServiceBinding</value>
            </setting>
            <setting name="SanMarIntegration_test_sm_poservicebinding_POService" serializeAs="String">
                <value>https://edev-ws.sanmar.com:8080/promostandards/POServiceBinding</value>
            </setting>
            <setting name="SanMarIntegration_test_sm_pricingserviceport_SanMarPricingServiceService" serializeAs="String">
                <value>https://edev-ws.sanmar.com:8080/SanMarWebService/SanMarPricingServicePort</value>
            </setting>
        </SanMarIntegration.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
