<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--Staging-->
		<!--<add name="DefaultConnectionString" connectionString="Data Source=image-solutions.cwfbgfgwdwwa.us-west-1.rds.amazonaws.com,1433;Initial Catalog=ImageSolutionsStaging;Persist Security Info=True;User ID=admin;Password=Password$1" providerName="System.Data.SqlClient" />-->
		<!--Production-->
		<add name="DefaultConnectionString" connectionString="Data Source=image-solutions.c6h2fez59apk.us-east-2.rds.amazonaws.com,1433;Initial Catalog=ImageSolutionsWebsite;Persist Security Info=True;User ID=admin;Password=Password$1" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!--NetSuite-->
		<add key="NetSuitePurchaseOrderFormID" value="103" />
		<add key="TransactionThreads" value="5" />

		<!--<add key="Environment" value="staging" />
	<add key="NetSuiteAccountNumber" value="ACCT88641_SB1" />
	<add key="AppConsumerKey" value="3fc999b824b4bd8bab2b7120c73b0275658e3f4e881f48571d2dbe837b561956" />
	<add key="AppConsumerSecret" value="f5b04c8b8042caa9cf3ca4c3de63857c97dadcf9615dd85fc8437499aeef9d0d" />
	<add key="TokenID" value="739c52f2eb79625671326fd16bf14e2f106330a18d8f0071a6f0bd19817f9479" />
	<add key="TokenSecret" value="9826d2e2018ff7521f96ebea6bc1a4d62f5550c63b7fcab21e95674e755f7bb8" />-->

		<!--Staging-->
		<!--<add key="Environment" value="staging" />
	<add key="NetSuiteAccountNumber" value="ACCT88641" />
	<add key="AppConsumerKey" value="01099c3ecb51fa1578e5cf1e71d98ff117421f35ba5fd6727910227367962158" />
	<add key="AppConsumerSecret" value="57a73a0586c4e8af83d4d6cfe289907ab85c83169760a87197270aab1fbe1833" />
	<add key="TokenID" value="6dc6482868406e7e933bc79d999300403349d0c84b269e349dff3ec9fe6ecef1" />
	<add key="TokenSecret" value="b5867514ed7219a377873cb608a30ddd06d487e68bf1e5ee26c105dc619c2d89" />
	  
	<add key="EnterpriseLicenseeWebsiteID" value="52" />
	<add key="EnterpriseLicenseeGroupID" value="231" />
	<add key="EnterpriseLicenseeAccountID" value="8530" />
	<add key="EnterpriseLicenseeCustomerParentID" value="87109" />
	  
	<add key="EnterpriseCorporateWebsiteID" value="50" />
	<add key="EnterpriseCorporateCustomerParentID" value="87110" />
	<add key="EnterpriseCorporateAccountParentID" value="8531" />

	<add key="EnterpriseEBAInternalID" value="9589155" />

	<add key="EnterpriseEBAWebsiteID" value="53" />
	  	 
	<add key="EnterpriseEBAAccountParentID" value="15761" />
	<add key="EnterpriseEBAGroupID" value="269" />
	<add key="EnterpriseEBACorporateGroupID" value="300" />
	<add key="EnterpriseEBAAdminGroupID" value="271" />	
	<add key="EnterpriseEBABudgetID" value="3754" />
	<add key="EnterpriseEBAPTBudgetID" value="3766" />
	<add key="EnterpriseEBAFTInternBudgetID" value="3755" />
	<add key="EnterpriseEBAPTInternBudgetID" value="3756" />
	<add key="EnterpriseEBATempFTHCBudgetID" value="3757" />
	<add key="EnterpriseEBATempPTHCBudgetID" value="3758" />
	<add key="EnterpriseEBAPermFTHCBudgetID" value="3759" />
	<add key="EnterpriseEBAPermPTHCBudgetID" value="3760" />
	  
	<add key="CreatedByUserInfoID" value="3" />
	<add key="CustomerLocalPath" value="C:\Import\Staging\Customer\" />
	  
	<add key="CustomerCorporateSFTPath" value="/Shared/Enterprise Sandbox" />
	<add key="CustomerPreEmployeeSFTPath" value="/Shared/Enterprise Sandbox/EBA" />-->


		<!--Production-->
		<add key="Environment" value="production" />
		<add key="NetSuiteAccountNumber" value="ACCT88641" />
		<add key="AppConsumerKey" value="01099c3ecb51fa1578e5cf1e71d98ff117421f35ba5fd6727910227367962158" />
		<add key="AppConsumerSecret" value="57a73a0586c4e8af83d4d6cfe289907ab85c83169760a87197270aab1fbe1833" />
		<add key="TokenID" value="6dc6482868406e7e933bc79d999300403349d0c84b269e349dff3ec9fe6ecef1" />
		<add key="TokenSecret" value="b5867514ed7219a377873cb608a30ddd06d487e68bf1e5ee26c105dc619c2d89" />

		<add key="EnterpriseLicenseeWebsiteID" value="14" />
		<add key="EnterpriseLicenseeGroupID" value="138" />
		<add key="EnterpriseLicenseeAccountID" value="6687" />
		<add key="EnterpriseLicenseeCustomerParentID" value="2" />

		<add key="EnterpriseCorporateWebsiteID" value="13" />
		<add key="EnterpriseCorporateCustomerParentID" value="3" />
		<add key="EnterpriseCorporateAccountParentID" value="6686" />

		<add key="EnterpriseEBAInternalID" value="9589155" />
		<!--<add key="EnterpriseEBAInternalID" value="23650376" />-->

		<add key="EnterpriseEBAWebsiteID" value="20" />

		<add key="EnterpriseEBAAccountParentID" value="27820" />
		<add key="EnterpriseEBAGroupID" value="203" />
		<add key="EnterpriseEBACorporateGroupID" value="298" />
		<add key="EnterpriseEBAAdminGroupID" value="210" />
		<add key="EnterpriseEBABudgetID" value="7444" />
		<add key="EnterpriseEBAPTBudgetID" value="8808" />
		<add key="EnterpriseEBAFTInternBudgetID" value="7445" />
		<add key="EnterpriseEBAPTInternBudgetID" value="7448" />
		<add key="EnterpriseEBATempFTHCBudgetID" value="7447" />
		<add key="EnterpriseEBATempPTHCBudgetID" value="7450" />
		<add key="EnterpriseEBAPermFTHCBudgetID" value="7446" />
		<add key="EnterpriseEBAPermPTHCBudgetID" value="7449" />

		<add key="CreatedByUserInfoID" value="1" />
		<add key="CustomerLocalPath" value="C:\Import\Customer\" />

		<add key="CustomerCorporateSFTPath" value="/Shared/Enterprise" />
		<add key="CustomerPreEmployeeSFTPath" value="/Shared/Enterprise/EBA" />

		<!--Brightspeed-->
		<!--Staging-->
		<!--<add key="BrightspeedWebsiteID" value="55" />
	  <add key="BrightspeedAccountID" value="47848" />
	  <add key="BrightspeedGroupID" value="272" />
	  <add key="BrightspeedBudgetID" value="3767" />
	  <add key="BrightspeedCostCenterCustomFieldID" value="15" />-->

		<!--Production-->
		<add key="BrightspeedWebsiteID" value="22" />
		<add key="BrightspeedAccountID" value="67177" />
		<add key="BrightspeedGroupID" value="211" />
		<add key="BrightspeedBudgetID" value="11480" />
		<add key="BrightspeedCostCenterCustomFieldID" value="7" />

		<add key="BrightspeedCustomerSFTPHost" value="ftp-imagesolutions.egnyte.com" />
		<add key="BrightspeedCustomerSFTPath" value="/Shared/Brightspeed" />
		<add key="BrightspeedCustomerSFTPLogin" value="enterpriseintegration$imagesolutions" />
		<add key="BrightspeedCustomerSFTPPassword" value="6Mvg6AZ6sh2JZse75HcL" />

		<add key="StagingStripeAPI" value="sk_test_51N6b7yL8BQnKd8oDkz1EeYEf0DYA2d3Pl6JGZ9WFCnAK89kWJsohX4qi4BMet1R3gFKDE5TT3JbaPFnXTXsHeWVn00C2kAlx9S" />
		<add key="StripeAPI" value="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" />

		<!--Staging-->
		<!--<add key="DiscountTireWebsiteID" value="48" />-->

		<!--Production-->
		<add key="DiscountTireWebsiteID" value="9" />

		<add key="DiscountTireSFTPHost" value="mft.ehi.com" />
		<add key="DiscountTireSFTPLogin" value="imageincftp" />
		<add key="DiscountTireSFTPPassword" value="UspmVVw2tCHlmsufvYxz" />
		<add key="DiscountTireSFTPath" value="/Outbound" />

		<add key="AholdWebsiteID" value="10" />
		<add key="ABSCompaniesWebsiteID" value="7" />
		<add key="AlbertsonsGearWebsiteID" value="8" />
		<add key="TheSaveMartCompaniesGearWebsiteID" value="15" />
		<add key="FazolisUniformsWebsiteID" value="16" />
		<add key="ElPolloLocoGearWebsiteID" value="17" />
		<add key="CPKGearWebsiteID" value="18" />
		<add key="SmartAndFinalGearWebsiteID" value="19" />

		<add key="SendGridApiKey" value="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" />
		<add key="EmailFrom" value="donotreply@imageinc.com" />

		<add key="PGPPrivateKeyPath" value="C:\Import\Key\0x266A2EAA-sec.asc" />
		<add key="PGPPassPhrase" value="ImageSolutions123" />

		<add key="EnterpriseTaxPGPPublicKeyPath" value="C:\Import\Key\EHI.AES-4096.asc" />

		<add key="CustomerLicenseeSFTPHost" value="mft.ehi.com" />
		<add key="CustomerLicenseeSFTPLogin" value="imageincftp" />
		<add key="CustomerLicenseeSFTPPassword" value="UspmVVw2tCHlmsufvYxz" />
		<add key="CustomerLicenseeSFTPath" value="/Outbound" />

		<add key="CustomerCorporateSFTPHost" value="ftp-imagesolutions.egnyte.com" />
		<add key="CustomerCorporateSFTPLogin" value="enterpriseintegration$imagesolutions" />
		<add key="CustomerCorporateSFTPPassword" value="6Mvg6AZ6sh2JZse75HcL" />

		<add key="ShippoAPI" value="shippo_live_4a2c74478d773767c1dd5ac31f514a0bc4a03657" />

		<add key="EnterpriseInvoiceSFTPHost" value="fileshare-oregon.coupahost.com" />
		<add key="EnterpriseInvoiceSFTPLogin" value="image-solutions-apparel-ehi" />
		<add key="EnterpriseInvoiceSFTPPassword" value="njUCBoPTeT" />
		<add key="EnterpriseInvoiceSFTPPath" value="/Incoming/Invoices" />

		<add key="EnterprisePayrollSFTPHost" value="mft.ehi.com" />
		<add key="EnterprisePayrollSFTPLogin" value="imageincftp" />
		<add key="EnterprisePayrollSFTPPassword" value="UspmVVw2tCHlmsufvYxz" />
		<add key="EnterprisePayrollSFTPPath" value="/Inbound/Payroll" />


		<!--<add key="EnterpriseInvoiceSFTPHost" value="ftp-imagesolutions.egnyte.com" />
	  <add key="EnterpriseInvoiceSFTPLogin" value="enterpriseintegration$imagesolutions" />
	  <add key="EnterpriseInvoiceSFTPPassword" value="6Mvg6AZ6sh2JZse75HcL" />
	  <add key="EnterpriseInvoiceSFTPPath" value="/Shared/Enterprise/Test/Incoming/Invoices" />-->


		<!--Mavis Tire-->
		<!--Staging-->
		<!--<add key="MavisTireWebsiteID" value="58" />
	  <add key="MavisStoreCustomFieldID" value="18" />
	  <add key="MavisTireAccountID" value="69138" />-->

		<!--Production-->
		<add key="MavisTireWebsiteID" value="25" />
		<add key="MavisStoreCustomFieldID" value="10" />
		<add key="MavisTireAccountID" value="107072" />
		<add key="MavisTireCCWebsiteID" value="26" />
		<add key="MavisTireCCAccountID" value="107074" />

		<add key="MavisTireCustomerSFTPHost" value="ftp4.mavistire.com" />
		<add key="MavisTireCustomerSFTPath" value="/PickUp" />
		<add key="MavisTireCustomerSFTPLogin" value="mavistire88" />
		<add key="MavisTireCustomerSFTPPassword" value="aDTAzF*Zy176rVt1" />

		<add key="MavisGPGPublicKeyPath" value="C:\Import\Key\Mavis_public.asc" />
		<add key="MavisGPGPrivateKeyPath" value="C:\Import\Key\Mavis_private.asc" />
		<add key="MavisGPGPassPhrase" value="0SK96Vm3qV3Q4B56U24PmWwcbCf7" />

		<!--Sprouts-->
		<!--Staging-->
		<!--<add key="SproutsWebsiteID" value="60" />
		<add key="SproutsAccountID" value="69789" />
		<add key="SproutsEmployeeWebsiteID" value="61" />
		<add key="SproutsEmployeeAccountID" value="69790" />
		<add key="SproutsEmployeeWebsiteGroupID" value="294" />
		<add key="SproutsStoreCustomFieldID" value="19" />-->

		<!--Production-->
		<add key="SproutsWebsiteID" value="28" />
		<add key="SproutsAccountID" value="108004" />
		<add key="SproutsEmployeeWebsiteID" value="29" />
		<add key="SproutsEmployeeAccountID" value="108005" />
		<add key="SproutsEmployeeWebsiteGroupID" value="284" />
		<add key="SproutsStoreCustomFieldID" value="11" />
		
		<add key="SproutsCustomerSFTPHost" value="ftp-imagesolutions.egnyte.com" />
		<add key="SproutsCustomerSFTPath" value="/Shared/Sprouts" />
		<add key="SproutsCustomerSFTPLogin" value="ftp$imagesolutions" />
		<add key="SproutsCustomerSFTPPassword" value="ImageSolutions$1" />		

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
