<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<!--NetSuite-->
		<add key="Environment" value="production"/>
		<add key="NetSuiteAccountNumber" value="ACCT88641"/>
		<add key="AppConsumerKey" value="01099c3ecb51fa1578e5cf1e71d98ff117421f35ba5fd6727910227367962158"/>
		<add key="AppConsumerSecret" value="57a73a0586c4e8af83d4d6cfe289907ab85c83169760a87197270aab1fbe1833"/>
		<add key="TokenID" value="6dc6482868406e7e933bc79d999300403349d0c84b269e349dff3ec9fe6ecef1"/>
		<add key="TokenSecret" value="b5867514ed7219a377873cb608a30ddd06d487e68bf1e5ee26c105dc619c2d89"/>
		<add key="TransactionThreads" value="5"/>
	</appSettings>
	<connectionStrings>
		<!--Staging-->
		<!--<add name="DefaultConnectionString" connectionString="Data Source=image-solutions.cwfbgfgwdwwa.us-west-1.rds.amazonaws.com,1433;Initial Catalog=ImageSolutionsStaging;Persist Security Info=True;User ID=admin;Password=Password$1" providerName="System.Data.SqlClient" />-->
		<!--Production-->
		<add name="DefaultConnectionString" connectionString="Data Source=image-solutions.c6h2fez59apk.us-east-2.rds.amazonaws.com,1433;Initial Catalog=ImageSolutionsWebsite;Persist Security Info=True;User ID=admin;Password=Password$1" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
