<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="Environment" value="production"/>
		<add key="DevelopmentEmail" value="it@imageinc.com"/>
		<add key="SendGridApiKey" value="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"/>
		<add key="EmailFrom" value="donotreply@imageinc.com"/>		
	</appSettings>
	<connectionStrings>
		
		<!--Staging-->
		<!--<add name="DefaultConnectionString" connectionString="Data Source=image-solutions.cwfbgfgwdwwa.us-west-1.rds.amazonaws.com,1433;Initial Catalog=ImageSolutionsStaging;Persist Security Info=True;User ID=admin;Password=Password$1" providerName="System.Data.SqlClient"/>-->
		
		<!--Production-->
		<add name="DefaultConnectionString" connectionString="Data Source=image-solutions.c6h2fez59apk.us-east-2.rds.amazonaws.com,1433;Initial Catalog=ImageSolutionsWebsite;Persist Security Info=True;User ID=admin;Password=Password$1" providerName="System.Data.SqlClient" />
	
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
